USE [Tapmed]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 4/28/2026 5:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProvinceCode] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ShortName] [nvarchar](255) NOT NULL,
	[Code] [varchar](5) NOT NULL,
	[PlaceType] [nvarchar](255) NOT NULL,
	[CountryId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([Id], [ProvinceCode], [Name], [ShortName], [Code], [PlaceType], [CountryId], [CreatedAt], [UpdatedAt]) VALUES (1, N'01', N'Thành phố Hà Nội', N'Thành phố Hà Nội', N'HNI', N'Thành phố Trung Ương', 237, NULL, NULL)
INSERT [dbo].[Provinces] ([Id], [ProvinceCode], [Name], [ShortName], [Code], [PlaceType], [CountryId], [CreatedAt], [UpdatedAt]) VALUES (2, N'04', N'Cao Bằng', N'Cao Bằng', N'CBG', N'Tỉnh', 237, NULL, NULL)
INSERT [dbo].[Provinces] ([Id], [ProvinceCode], [Name], [ShortName], [Code], [PlaceType], [CountryId], [CreatedAt], [UpdatedAt]) VALUES (3, N'08', N'Tuyên Quang', N'Tuyên Quang', N'TGQ', N'Tỉnh', 237, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Provinces_ProvinceCode]    Script Date: 4/28/2026 5:39:13 PM ******/
ALTER TABLE [dbo].[Provinces] ADD  CONSTRAINT [AK_Provinces_ProvinceCode] UNIQUE NONCLUSTERED 
(
	[ProvinceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__province__11D9FAD551D83C7C]    Script Date: 4/28/2026 5:39:13 PM ******/
ALTER TABLE [dbo].[Provinces] ADD  CONSTRAINT [UQ__province__11D9FAD551D83C7C] UNIQUE NONCLUSTERED 
(
	[ProvinceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__province__A25C5AA7F57577AA]    Script Date: 4/28/2026 5:39:13 PM ******/
ALTER TABLE [dbo].[Provinces] ADD  CONSTRAINT [UQ__province__A25C5AA7F57577AA] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
