USE [Tapmed]
GO
/****** Object:  Table [dbo].[Wards]    Script Date: 4/28/2026 5:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wards](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[WardCode] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ProvinceCode] [varchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Wards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Wards] ON 

INSERT [dbo].[Wards] ([Id], [WardCode], [Name], [ProvinceCode], [CreatedAt], [UpdatedAt]) VALUES (1, N'00004', N'Phường Ba Đình', N'01', NULL, NULL)
INSERT [dbo].[Wards] ([Id], [WardCode], [Name], [ProvinceCode], [CreatedAt], [UpdatedAt]) VALUES (2, N'00008', N'Phường Ngọc Hà', N'01', NULL, NULL)
INSERT [dbo].[Wards] ([Id], [WardCode], [Name], [ProvinceCode], [CreatedAt], [UpdatedAt]) VALUES (3, N'00025', N'Phường Giảng Võ', N'01', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Wards] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Wards_WardCode]    Script Date: 4/28/2026 5:41:12 PM ******/
ALTER TABLE [dbo].[Wards] ADD  CONSTRAINT [AK_Wards_WardCode] UNIQUE NONCLUSTERED 
(
	[WardCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Wards__1A7FBFF0F9B54620]    Script Date: 4/28/2026 5:41:12 PM ******/
ALTER TABLE [dbo].[Wards] ADD UNIQUE NONCLUSTERED 
(
	[WardCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Wards]  WITH CHECK ADD  CONSTRAINT [FK_Wards_Provinces_ProvinceCode] FOREIGN KEY([ProvinceCode])
REFERENCES [dbo].[Provinces] ([ProvinceCode])
GO
ALTER TABLE [dbo].[Wards] CHECK CONSTRAINT [FK_Wards_Provinces_ProvinceCode]
GO
